<article class="prose kiwi-about">
  <h1>{{ t('about_h1', app=app_name, ver=version) }}</h1>
  <p>
    {{ t('about_p_lead', app=app_name, club=club_callsign, time=time_utc, tx=tx_mhz) }}
    {{ t('about_p_tx', days=schedule_days_label) }}
    {{ t('about_p_listen', tx_label=bulletin_tx_label | default('F6KUF')) }}{% if bulletin_tx_overlap %}{{ t('about_p_overlap') }}{% endif %}
    {{ t('about_p_kiwis') }}
    {{ t('about_p_ack', ack1=ack1_mhz, ack2=ack2_mhz, tol=qrg_tolerance_khz) }}
    {{ t('about_p_buddy', buddy=buddy_time_utc, qrgs=buddy_qrgs_label, skippers=buddy_skippers_short) }}
    {{ t('about_p_range') }}
  </p>
  <h2>{{ t('about_h2_how') }}</h2>
  <ul>
    <li>{{ t('about_li_yb') }}</li>
    <li>{{ t('about_li_map') }}</li>
    <li>{{ t('about_li_tx') }}</li>
    <li>{{ t('about_li_cast') }}</li>
    <li>{{ t('about_li_replay') }}</li>
  </ul>
  <h2>{{ t('about_h2_credits') }}</h2>
  <ul>
    <li>{{ t('about_cr_club') }}</li>
    <li>{{ t('about_cr_ggr') }}</li>
    <li>{{ t('about_cr_kiwi') }}</li>
    <li>{{ t('about_cr_osm') }}</li>
    <li>{{ t('about_cr_metarea') }}</li>
    <li>{{ t('about_cr_wwmiws') }}</li>
    <li>{{ t('about_cr_list') }}</li>
  </ul>
  <p>{{ t('about_license') }}</p>
  <p>{{ t('about_author') }}</p>
</article>
